{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-one-expression-per-line": "off",
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "object-curly-newline": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "react/destructuring-assignment": ["off"],
    "func-style": ["error", "declaration"],
    "max-len": [
      "warn",
      {
        "code": 140,
        "comments": 200
      }
    ],
    "arrow-parens": ["error", "as-needed"],
    "semi": ["error", "always"],
    "linebreak-style": ["warn", "unix"],
    "no-console": 1,
    "indent": ["error", 2]
  }
}